@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-900 text-gray-100 font-sans antialiased overflow-hidden;
  }
  
  #root {
    @apply w-full h-screen flex flex-col;
  }
}
